<div class="w-screen h-screen p-2 flex justify-end relative overflow-hidden">
    <div class="bg-gray-800 rounded-xl flex h-full flex-col pt-2 w-60">

        <mbsc-datepicker #myDatepicker [locale]="localeIt" theme="custom-material-dark"
            [monthNames]="['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic']" [(ngModel)]="value"
            display="inline" [controls]="['calendar']" select="range" [showRangeLabels]="false" touchUi="auto">
        </mbsc-datepicker>


        <!-- <input #myDatepickertwo="mobiscroll" mbsc-datepicker type="text"> -->
        <!-- issue:No directive found with exportAs 'mobiscroll'.ngtsc(-998003) -->

        <!-- <mbsc-button (click)="myDatepicker.open()">Show The Datepicker</mbsc-button> -->
        <!-- issue:Property 'open' does not exist on type 'HTMLElement'.ngtsc(2339) -->

    </div>
</div>